.categorys__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.category__item {
  text-align: center;
  width: 30%;
  height: 200px;
  margin: 10px;
  padding: 5px;
  border: 1px solid brown;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.category__item a {
  color: brown;
  text-decoration: none;
  height: 100%;
}
.category__item p {
  font-size: 80%;
  margin-bottom: 10px;
}
.category__item img {
  height: 75%;
  width: 75%;
  max-width: max-content;
  max-height: max-content;
  border-radius: 10px;
}

.category_admin_items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category_admin_item a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 10px;
}

.category_admin_redact_button {
  background-color: #7cd66a;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  width: max-content;
}
.category_admin_item input {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}
