.categorys__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.category__item {
  text-align: center;
  width: 30%;
  height: 200px;
  margin: 10px;
  padding: 5px;
  border: 1px solid brown;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10;
}
.category__item a {
  color: brown;
  text-decoration: none;
  height: 100%;
}
.category__item p {
  font-size: 80%;
  margin-bottom: 10px;
}
.category__item img {
  height: 75%;
  width: 75%;
  max-width: max-content;
  max-height: max-content;
  border-radius: 10px;
}
