.pagination {
  margin-top: 20px;
  display: inline-block;
}

.pagination-item,
.active-btn {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.active-btn {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination-item:hover:not(.active-btn) {
  background-color: #ddd;
}
