.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination-item,
.active-btn {
  color: black;
  float: left;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 5px;
}
.pagination-arrow {
  font-size: 12px;
  margin: 5px 3px 0px 3px;
  color: black;
}
.active-btn {
  background-color: #46e6c3;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.pagination-item:hover:not(.active-btn) {
  background-color: #ddd;
}
.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.products__item {
  border: 1px solid rgb(134, 134, 134);
  padding: 8px;
  margin: 10px 20px 5px 0px;
  width: 190px;
  height: max-content;
  min-height: 400px;
  position: relative;
  text-align: center;
}
.products__item:hover {
  transform: translateY(-5px);
  border: 1px solid rgb(104, 248, 229);
  transition: transform 0.5s;
}

.products__item img {
  margin-bottom: 5px;
  width: 170px;
  max-height: 250px;
}

.price-name-price {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.price-name-price p {
  color: black;
}
.btn-to-cart {
  background-color: #7cd66a;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 25px;
}
.btn-to-cart:hover {
  transition: 500ms;
  background-color: #2e7321;
}
.btn-to-cart img {
  margin: 0px;
  margin-left: 2px;
  width: 20px;
}
.btn-to-cart:disabled {
  background-color: rgb(184, 184, 184);
}
.btn-availability {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  position: absolute;
  bottom: 5px;
}

.btn-availability span {
  font-size: 10px;
  color: gray;
  margin-right: 10px;
}

.availability {
  opacity: 0.5;
}

#sort-goods {
  text-align: center;
  font-size: 16px;
  right: 25px;
  border-radius: 10px;
  top: 122px;
  position: absolute;
  background-color: #b3ffff;
}
