.order-page {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.order_form {
  position: relative;
  margin: 0 0 0 10px;
  background-color: #f2f2f2;
  padding: 5px 15px 15px 15px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: left;
  width: 57%;
}

.form_control {
  width: 100%;
  margin: 5px;
  position: relative;
}

.form_control input {
  margin: 5px;
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form_control span {
  color: tomato;
  font-size: 14px;
}

.form_control input[type='checkbox'] {
  width: 20px;
  margin: 5px;
}

.delivery-select {
  width: 90%;
  margin: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-order-send {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #7cd66a;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  min-height: 35px;
}
.btn-order-send:disabled {
  background-color: #aebcab;
}
.order-cart {
  background-color: #f2f2f2;
  width: 40%;
  height: 750px;
  padding: 10px;
  border: 1px solid rgb(227, 227, 227);
  overflow: auto;
}

.order-cart i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.error-input {
  top: 40%;
  right: 10%;
  font-size: 15px;
  color: red;
  position: absolute;
}

.cityDelivery {
  display: none;
}

.custom_select {
  display: none;
  padding: 5px;
  position: absolute;
  top: 62px;
  left: 5px;
  width: max-content;
  min-width: 300px;
  height: max-content;
  max-height: 150px;
  background-color: white;
  z-index: 1003;
  border: 1px solid #ccc;
  overflow-x: auto;
}

.custom_select li {
  padding: 4px;
  margin: 5px;
  color: #000;
  cursor: pointer;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(207, 204, 204);
}

.custom_select li:hover {
  transition: 0.5s;
  border-radius: 3px;
  background-color: rgb(182, 180, 180);
}

#noneRef {
  color: rgb(219, 51, 51);
}

#warehouse {
  display: none;
  width: 100%;
}

#warehouse select {
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 17px;
  overflow: auto;
}
