/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(92, 32, 32);
  font-size: 16px;
  line-height: 15px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ================ */

.main {
  width: 97%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
}

.main-page-text {
  margin: 10px;
  padding: 5px;
  text-align: justify;
  line-height: 2;
  text-indent: 20px;
}
.main-page {
  margin-left: 10px;
  width: calc(100% - 250px);
}

.errors {
  text-align: center;
}

.contactsPage {
  line-height: 20px;
}

.registration-form {
  display: flex;
  margin-left: 10px;
  background-color: #f2f2f2;
  padding: 5px 15px 15px 15px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  justify-items: center;
  width: 90%;
}
.registration-form form {
  width: 100%;
}

.btn-registration {
  background-color: #7cd66a;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  min-height: 35px;
}
.btn-registration:disabled {
  background-color: #aebcab;
}
.login {
  display: flex;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  width: 100%;
  height: max-content;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.login input {
  margin: 5px;
  padding: 4px;
  height: 30px;
  border: 1px solid rgb(78, 55, 55);
  border-radius: 3px;
}

.btn-login {
  background-color: #7cd66a;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  min-height: 35px;
}
.userIn {
  text-align: center;
}
.userIn p {
  margin-bottom: 20px;
  font-size: 30px;
}
.userIn button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(188, 249, 255);
}
.userIn a {
  text-align: center;
  color: black;
  text-decoration: none;
}

#arrowTop {
  bottom: 120px;
  right: 10px;
  visibility: hidden;
  color: rgb(2, 117, 108);
  font-size: 30px;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
}

.help-pass {
  background-color: #a0fafc;
  border-radius: 10px;
  padding: 1px;
  margin-left: 5px;
  border: 1px solid rgb(159, 157, 157);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.help-text {
  border: 1px solid rgb(159, 157, 157);
  background-color: #a0fafc;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  visibility: hidden;
  color: black;
  width: 250px;
  top: -20px;
  left: 100px;
}

.help-pass:hover .help-text {
  visibility: visible;
}
